extends layout

block content
  h1= title
  p We have received your LTI Launch. You can view the request body below.
  p What would you like to do now?
  p
    form(name="login", action="/lti/outcomes", method="post")
      input(type="submit", value="Outcomes")
    form(name="login", action="/caliper", method="post")
      input(type="submit", value="Register Caliper")
    form(name="login", action="/caliper/send", method="post")
      input(type="submit", value="Emit Event")
    form(name="login", action="/rest/auth", method="post")
      input(type="submit", value="Get REST Token")
    form(name="login", action="/rest/user", method="post")
      input(type="submit", value="Get User Info")
    form(name="login", action="/rest/course", method="post")
      input(type="submit", value="Get Course Info")
  p 
  p Here's the request body!
  p !{content}
