<div class="row">
  <div class="large-2 columns">Headers</div>
  <div class="large-10 columns">
    <json-formatter json="activity.get_tc_profile.headers" open="1"></json-formatter>
  </div>
</div>


<div class="row">
  <div class="large-2 columns">Activity</div>
  <div class="large-10 columns">
    <ul ng-repeat="logItem in activity.log">
      <li>{{logItem.message}}

        <json-formatter ng-if="logItem.data" json="logItem.data" open="1"></json-formatter>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">Status</div>
  <div class="large-10 columns">{{activity.status}}:{{activity.failReason}}</div>
</div>


<form action="{{returnUrl}}">
  <div class="row">
    <div class="large-2 columns">
      <button class="btn btn-primary">Go Back using</button>
    </div>
    <div class="large-10 columns">
      <div><a href="{{returnUrl}}">{{returnUrl}}</a></div>
    </div>
  </div>
</form>
